/TestResults/
/packages/
/.vs/
/LosFlow.bpmn
/LosFlow2.bpmn
/ProcessRuntimeManager.playlist
/BPMN.Entity.Test/
/BPMNET.Data/
/BPMNET.Entity_Deprecated/
/test/
/LosFlow3.bpmn
/LosFlow4.bpmn
/LosFlow4.xml
/TODO.txt
/UserTaskTest.testTaskPropertiesNotNull.bpmn.xml
/error.bpmn
/subProcess.bpmn2
/subProcess2.bpmn2
/testParseNamespaceInConditionExpressionType.bpmn.xml
