<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="ConnStr" connectionString="Data Source=127.0.0.1;Initial Catalog=BPMNET_ENTITY;User ID=sa;Password=sql" providerName="System.Data.SqlClient" />-->
    <add name="ConnStr" connectionString="Server=127.0.0.1;Database=BPMNET_ENTITY;User Id=sa;Password=sql;" />
  </connectionStrings>
</configuration>