<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="BpmNet" type="BPMNET.Configuration.Section, BPMNET.Entity" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="test" connectionString="Data Source=(local);Initial Catalog=BPMNET2;User ID=sa;Password=sql;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <BpmNet KeyType="Int" GeneratedOption="Identity" ConnectionName="test"/>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <contexts>
      <context type="BPMNET.Entity.IntKey.BpmDbContext, BPMNET.Entity">
        <databaseInitializer type="System.Data.Entity.DropCreateDatabaseAlways`1[[BPMNET.Entity.IntKey.BpmDbContext, BPMNET.Entity]], EntityFramework" />
      </context>
    </contexts>  </entityFramework>
</configuration>