<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="bpmNet" type="BPMNET.Configuration.Section, BPMNET.Configuration" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <clear />
    <add name="DefaultConnection" connectionString="Server=(local);Connect Timeout=120;Database=BPMNET;User ID=sa;Password=sql;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <bpmNet ConnectionName="DefaultConnection" UnicodeString="false" />
  <entityFramework>
    <queryCache size='10000' cleaningIntervalInSeconds='120'/>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>